/* reset code and common starts here */

:root {
  --primary-color: rgb(11, 181, 48);
  --secondary-color: rgba(36, 122, 55, 0.9);
  --padding: 0.5rem;
  --transition: all 0.3s;
  --border-redius: 0.6rem;
  --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: var(--padding);
  cursor: pointer;
  text-transform: uppercase;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-redius);
  transition: var(--transition);
  padding: var(--padding);
}

.card:hover {
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 1);
}

.hr_design {
  border: 1px solid;
  margin: 0.5rem 0;
}

.dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}

.black {
  background-color: black;
}

.text_center{
  text-align: center;
}

.section_title{
  font-size: 2rem;
}

/* reset code and common end here */

#mune_icon {
  display: none;
}
/* navbar starts here  */
nav {
  font-family: sans-serif;
  font-size: 1.2rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

/* upper navbar starts here  */
.nav_upper {
  min-height: 10vh;
  background-color: var(--primary-color);
  padding: 1rem 0.8rem;
}

.nav_list {
  transition: var(--transition);
}
.nav_list:hover {
  text-decoration: overline;
  color: #000;
}

.nav_link {
  color: white;
  transition: var(--transition);
  font-weight: bolder;
}
.nav_link:hover {
  color: #000;
}

.profile_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: white 1px solid;
  filter: saturate(0);
  transition: var(--transition);
}
.profile_icon:hover {
  filter: saturate(1);
}
/* upper navbar ends here  */

/* lower navbar ends here  */
.nav_lower {
  min-height: 10vh;
  background-color: var(--secondary-color);
  padding: 1rem 0.8rem;
}

.nav_brand {
  font-size: 2rem;
}

/* lower navbar ends here  */

/* navbar ends here  */

/* header starts here  */
.header {
  padding: 4rem 0;
  height: 80vh;
  background: url("./images/banner.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.banner {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.banner_title {
  font-size: 4rem;
  color: yellow;
  padding: 1rem;
  border-radius: var(--border-redius);
}

.features {
  width: 100%;
  padding: 0 2rem;
}
.feature {
  background-color: rgba(80, 160, 78, 0.7);
  color: white;
  border-radius: var(--border-redius);
  padding: 1rem;
  width: 15rem;
  flex-direction: column;
  gap: 1rem;
}

.feature_icon {
  font-size: 3rem;
}
/* header ends here  */

/* main starts here  */
main {
  padding: 4rem 0;
  min-height: 80vh;
}

/* sidebar starts here  */
.sidebar {
  flex: 1;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: start;
}
/* sidebar ends here  */

/* main content starts here  */
.main_content {
  flex: 3;
  padding: var(--padding);
}
.actions_sort select {
  padding: var(--padding);
  border: 1px solid black;
  width: 16rem;
}

.actions_search input {
  padding: var(--padding);
  width: 15rem;
  border: 1px solid black;
}

.actions_search button {
  margin-left: -0.3rem;
  border: 1px solid;
  padding: 0.55rem;
}

/* product section starts here */
.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
.product {
  position: relative;
  padding: var(--padding);
}
.badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: var(--border-redius);
  z-index: 10;
}

.product_img {
  width: 100%;
  height: 15rem;
  filter: saturate(0);
  transition: var(--transition);
}

.product_img:hover {
  filter: saturate(1);
}

.product_body {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.learn_more {
  color: green;
  font-weight: bolder;
}

/* pagination starts here  */
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_btn{
  border-width: 1px 1px 1px 0;
  border-style: solid;
}

.pagination_btn:first-child{
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
/* pagination ends here  */


/* product detail starts here  */
.product_details_left{
  flex: 1;
}
.product_details_left img{
  height: 20rem;
  width: 30rem;
}

.product_details_right{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  gap: 0.5rem;
}

/* product detail ends here  */

/* product section ends here */



/* main content ends here  */


/* cart design starts here   */
.cart{
  padding: var(--padding);
  gap: 1rem;

}

.cart .card{
  margin-bottom: 1rem;
}

.cart_items{
  flex: 1;

}

.cart_items_action{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_item input{
  float: 0.1em;
}

.cart_item_img{
  flex: 0.2;
  width: 15rem;
  height: 10rem;
}

.cart_item_description{
  float: 0.4em;
}

.cart_item_shipping{
  margin-top: 0.5rem;
  color: red;
}

.cart_item_actions{
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.cart_payment{
  flex: 1;
}

.cart_payment_summary > section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.cart_payment_btn{
  width: 100%;
}
.cart_payment_method > h2{
  text-align: center;
  margin-bottom: 1rem;
}

.cart_payment_method > section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* cart design ends here   */

/* registation && login section starts here  */
.register, .login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 60vh;
}

.register .card, .login .card{
  width: 45rem;
}

.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_control label{
  flex: 0.1;
  text-align: left;
}
.form_control input, textarea{
flex: 0.9;
padding: var(--padding);
border: 1px solid;
}
.form_control textarea{
  resize: none;
  height: 12vh;
}

.form_btn_field {
  border-radius: var(--border-redius);

}

.contact_btn{
  width: 30%;
}


/* registation && login section ends here  */

/* profile starts here */
.profile{
  flex-direction: column;
  gap: 3rem;
}


.profile .card{
  flex-direction: column;
  width: 30rem;
  padding: var(--padding);
  gap: 1rem;
}

.profile__img{
  width: 15vw;
  border-radius: 50%;
  border: 1px solid;
}
/* profile ends here */


/* contact starts  */
.contact-section {
  min-height: 52vh;
  padding: var(--padding);
}
.contact-container {
  margin-top: 5rem;
}
.contact-address {
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.contact__map {
  width: 80%;
}
/* contact ends  */


/* main edns here  */

/* footer starts here  */
.footer {
  padding: 1rem;
  background-color: var(--primary-color);
  min-height: 10vh;
  color: white;
  font-size: 1.1rem;
}

.btn-subscribe {
  margin-left: -5px;
}
.footer_input {
  padding: var(--padding);
  width: 20rem;
}
/* footer ends here  */

@media (max-width: 992px) {
  .flex-space-around {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  #mune_icon {
    display: block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .header {
    height: 100vh;
  }
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cart_items, .cart_payment{
    width: 90%;
  }
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .flex-center{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

  }
}

@media (max-width: 600px) {
}
